@model Biblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Crear Préstamo";
}

<h1>Crear Nuevo Préstamo</h1>

<h4>Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="persona" class="control-label"></label>
                <select asp-for="IdPersona" asp-items="ViewBag.IdPersona">
                    <option selected="selected" value="">
                        Seleccione
                    </option>
                </select>
                <span asp-validation-for="IdPersona"></span>
            </div>

            <div class="form-group">
                <label asp-for="libro" class="control-label"></label>
                <select asp-for="IdLibro" asp-items="ViewBag.IdLibro">
                    <option selected="selected" value="">
                        Seleccione
                    </option>
                </select>
                <span asp-validation-for="IdLibro"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaToma" class="control-label"></label>
                <input asp-for="FechaToma" class="form-control" />
                <span asp-validation-for="FechaToma" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" value="Libro Devuelto" asp-for="devolucion"/> @Html.DisplayNameFor(model => model.devolucion)
                </label>
            </div>

            @*asp-for="devolucion"*@

            @*<div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" asp-for="devolucion">  @Html.DisplayNameFor(model => model.devolucion)
            <label class="form-check-label" for="defaultCheck1">
                Libro Devuelto
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2"  asp-for="devolucion"> @Html.DisplayNameFor(model => model.devolucion)
            <label class="form-check-label" for="defaultCheck1">
                Pendiente
            </label>
        </div>*@




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <span><img style="margin: 0; display: inline-block; height: 40px; float: none;" src="~/img/iconoAtras - Copia.png" /></span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
